<!DOCTYPE html>
<html>
<head>
    <title><%= @title %><%= " &middot; " if @title %>Jekyll News</title>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Lato:400,700/Inconsolata:400">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" href="/assets/images/favicon.ico">
</head>
<body>
<header class="container">
    <nav>
        <img src="/assets/images/logo.png" alt="" id="logo">
        <a href="/" class="title">Jekyll News</a>
        <ul>
            <li><a href="/">Top</a></li>
            <li><a href="/new">New</a></li>
            <li><a href="/submit">Submit</a></li>
        </ul>
    </nav>
    <nav class="right">
        <ul>
            <% if session[:id] %>
                <li><a href="/user/logout">Log out</a></li>
                <li class="user">
                    <%= session[:user] %>
                    <img src="<%= session[:avatar] %>&s=50" alt="<%= session[:user] %>">
                </li>
            <% else %>
                <li><a href="/auth">Sign in with GitHub</a></li>
            <% end %>
        </ul>
    </nav>
</header>
<section class="container">
    <%= yield %>
</section> 
</body>
</html>
